<style>  
    .borderCSS {
        border: 1px solid black;
    }
  </style>

<div *ngIf="loading" class="row">
    <div class="col-md-12">
      <div class="alert alert-warning">
        <span class="spinner-border spinner-border-sm mr-1"></span>
        Loading....
      </div>
    </div>
</div>

<div *ngIf="loading == false">
    <table style="width: 70%; margin-left: 15%; margin-top: 5%;">
        <tr>
            <td colspan="3">
                <table  id="items" style="border: 1px solid; width:100%">                    
                    <tbody style="border: 1px solid;" >
     
                        <tr *ngFor="let document of clientDocumentDetails">
                            <td *ngIf="document.documentMimeType != 'application/pdf'"><img src="{{document.document}}"></td>
                            <td *ngIf="document.documentMimeType == 'application/pdf'" >
                                <pdf-viewer [src]="document.document" [render-text]="true" style="display: block;"></pdf-viewer>
                            </td>
                          </tr>
                  </table>
            </td>
        </tr>
    </table>   
</div>

